@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Outfit', sans-serif;
  background: hsl(217, 54%, 11%);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.container {
  max-width: 350px;
  margin: 0 auto;
}
.wrapper {
  margin: 2rem 1rem;
  padding: 20px;
  background-color: hsl(216, 50%, 16%);
  border-radius: 15px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.42);
}
.top-image {
  border-radius: 12px;
  overflow: hidden;
  position: relative;
}
.top-image img {
  width: 100%;
  display: block;
}
.image-overlay {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: hsla(178, 100%, 50%, 0.5);
  display: none;
}
.image-overlay img {
  position: absolute;
  width: 50px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.top-image:hover .image-overlay {
  display: block;
}
.card > a {
  color: #fff;
  text-decoration: none;
  font-weight: 600;
  font-size: 24px;
  padding: 22px 0;
  display: inline-block;
}
.card a:hover {
  color: hsl(178, 100%, 50%);
}
.card p {
  color: hsl(215, 51%, 70%);
  line-height: 25px;
  /* font-weight: 400; */
}
.flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0;
  border-bottom: 2px solid hsl(215, 32%, 27%);
}
.eth,
.countdown {
  display: flex;
  align-items: center;
}
.eth p {
  color: hsl(178, 100%, 50%);
  font-weight: 600;
  padding-left: 7px;
}
.countdown p {
  padding-left: 7px;
}
.profile {
  display: flex;
  align-items: center;
  padding-top: 20px;
}
.profile img {
  height: 34px;
  width: 34px;
  border-radius: 50%;
  border: 2px solid #fff;
  margin-right: 15px;
}
.profile a {
  text-decoration: none;
  color: #fff;
  font-size: 16px;
}
.profile p a:hover {
  color: hsl(178, 100%, 50%);
}
